{% extends 'main/base.html' %}
{% block title %}Search Results{% endblock %}

{% block content %}
    <form method=POST action="{% url 'houseSearch' %}">
        {% csrf_token %}
        <input type="search" placeholder="Location" name="searched">
        <button type="submit">Search</button>
    </form>
    {% if searched %}
        <h1>You Searched for {{ searched }}</h1>
        <br/>
        {% for home in house %}
            {{home}} {{home.Location}}<br/>{{home.location}}<br>{{home.bedrooms}} Bedrooms <br>{{home.bathrooms}} Bathrooms <br>{{home.description}}
        {% endfor %}
    {% else %}
        <h1>Nothing searched</h1>
    {% endif %}

{% endblock %}